.button-group button{
     background-color: #f3f4f6;
  color: #222;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 2px 2px;
  margin-right: 4px;
  margin-bottom: 4px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}
.button-group button:hover,
.button-group button:focus {
  background-color: #e0e7ef;
  color: #2563eb;
}