/* Custom styles for the category carousel */

.category-carousel .slick-track {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.category-carousel .slick-slide {
  padding: 0 8px;
  box-sizing: border-box;
}

.category-carousel .slick-prev,
.category-carousel .slick-next {
  z-index: 1;
  width: 30px;
  height: 30px;
}

.category-carousel .slick-prev {
  left: -65px;
}

.category-carousel .slick-next {
  right: -65px;
}

.category-carousel .slick-prev:before,
.category-carousel .slick-next:before {
  color: #227fd5 !important;
  font-size: 24px;
}

.category-carousel .slick-dots {
  bottom: -25px;
}

.category-carousel .slick-dots li button:before {
  font-size: 10px;
  color: #3182ce;
}

.category-carousel .slick-dots li.slick-active button:before {
  color: #2b6cb0; /* Darker blue for active dot */
}

/* Make buttons maintain their width */
.category-carousel button {
  width: 100%;
  min-width: 120px;
  margin: 0 auto;
  display: block !important;
}

